h1 {
    color:blueviolet;
}

body {
    background-color: lightpink;
}

button {
    background-color: palevioletred;
    border-radius: 50%;
    padding: 5px;
}

h2 {
    color: purple;
}

ul {
    color: grey
}